<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.mikechen.ma4" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_login" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Registration"
            android:label="@string/title_activity_register" >
        </activity>
        <activity
            android:name=".WebView"
            android:label="@string/title_activity_web_view" >
        </activity>
        <activity
            android:name=".Maps"
            android:label="@string/title_activity_maps" >
        </activity>
        <activity
            android:name=".Home"
            android:label="Home" >
        </activity>
        <activity
            android:name=".Find_Class"
            android:label="Find_Class" >
        </activity>

        <activity android:name=".Scheduler"
                  android:label="Scheduler">

        </activity>
        <activity android:name=".Schedule_ListView"
                  android:label="Scheduler_ListView">
        </activity>
        <service
            android:name=".MyInternetService"
            android:enabled="true"
            android:exported="true" >
        </service>
    </application>

</manifest>
